
<html>
<head>
	<title></title>
	<link href='https://fonts.googleapis.com/css?family=Lato:100italic,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="/js/userShow.js"></script>
</head>
<header>
	<ul id="headerList">
		<li><a href="/">Home</a></li>
		<li><a href="/users">Login</a></li>
		<li><a href="/users/">My Profile</a></li>
		<li><a href="/users/">My Meds</a></li>
	</ul>
</header>
<body>