<!DOCTYPE html>

	<% include ./partials/header.ejs %>

	<div id="home-container">
		<h2 id="welcome">Welcome</h2>
			<h3 id="tag-line">Add - Track - Live</h3>
			<a id="start-now"href="/users">Start Now</a>
	</div>
</body>
</html>