body {
	background-image: url('https://www.lifedatacorp.com/wp-content/uploads/2015/06/Road-Running.jpg');
	background-size: 1400px;
	background-position: center fixed;
	background-repeat: no-repeat;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

#nav-container {
	position: absolute;
	z-index: 2;
	background: lightgrey;
	opacity: .6;
	height: 20%; width: 13%;
	border-radius: 10px;
	transition-property: 100%;
	transition-duration: 1s;
	transition-timing-function: easeInOutQuart;
}

#nav-container > ul > li {
	padding-top: .5em;
	font-size: 1em;
}

#nav-container:hover {
	height: 98%;
	width: 98%;
	text-align: center;
	font-size: 2em;
	opacity: .9;
}

/*#nav-container > ul > li:hover {

}*/


/*HOME PAGE*/
#home-container {
	position: fixed;
	height: 50%; width: 30%;
	text-align: center;
	/*border: 1px solid red;*/
	background: lightgrey;
	opacity: .6;
	border-radius: 10px;
	padding: 1em;
	padding-bottom: 4em;
	margin-left: 35%;
	margin-right: 35%;
	margin-bottom: 4em;
	margin-top: 4em;
	transition-property: 100%;
	transition-duration: 1s;
	transition-timing-function: easeInOutQuart;
}

#welcome {
	font-size: 2em
}

#tag-line {
	padding-top: 10%;
	padding-bottom: 3em;
	font-weight: 100;
}

#start-now {
	border: 1px solid grey;
	padding: .75em;
}

#start-now:hover {
	background-color: darkgrey;
}

#login-container {
	padding: 1em;
}

input {
	padding: 1em;
	height: 1em; width: 50%;
}

input:hover {
	background-color: darkgrey;
}

.meds-container {
	display: inline-block;
	overflow: hidden;
	background: lightgrey;
	opacity: .6;
	margin-top: 1%;
	margin-bottom: 5%;
	border-radius: 10px;
	height: 50px; width: 20%;
	padding: 1em;
	position: fixed;
}

.meds-container > h3 {
	padding-bottom: 70px;
}

#medcont2 {
	margin-left: 66%;
}

#medcont1 {
	margin-left: 41%;
}

#medcont2:hover {
	text-align: center;
	height: 60%; width: 40%;
	opacity: .9;
}

#medcont1:hover {
	text-align: center;
	height: 60%; width: 40%;
	opacity: .9;
}

#profile-link {
	margin-left: 16%;
	margin-top: 10px;
	width: 30%;
	background-color: lightgrey;
	opacity: .6;
	border-radius: 10px;
	padding-top: 2em;
	padding-bottom: .8em;
	padding-left: 1em;
	padding-right: 6em;
	font-size: 1.3em;
}

#users-name {
	border: 1px solid black;
	padding-top: 2em;
	width: 30%;
	z-index: -1;
	margin-top: 70%;
	font-size: 2.5em;
}

li {
	list-style: none;
}

a {
	color: black;
	text-decoration: none;
}




/*MEDIA*/

@media (max-width: 640px) { 

  #nav-container {
  	margin-top: 1%;
		height: 18%; width: 97%;
  }
   #home-container {
   	margin-top: 40%;
   	margin-left: 1%;
   	margin-right: 0;
		height: 55%; width: 89%;
  }
}

